<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/static/css/user-home.css' />
</head>

<body>
    <h1>Your name:   <%- user.username %></h1>
    <p>Welcome to your home ~</p>
    <p><a href="/logout">我要注销 </a>
    </p>
</body>

</html>
