<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户登录</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/user-login.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <form id="loginform" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="title">用户登录</p>
                    </div>
                    <div class="panel-body">
                        <div class="form-group has-feedback">
                            <label>用户名</label>
                            <input type="text" class="form-control" name="username" placeholder="User name">
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label>密码</label>
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span class="input-group-btn">
                                    <a class="btn btn-default" id="changePwdStatus">
                                        &nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/plugin/JQuery/jquery-3.2.1.min.js"></script>
    <script src="/static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/plugin/layui/layui.js"></script>
    <script src="/static/plugin/Tool/tool.js"></script>
    <script>
        layui.config({
            base: '/static/js/',
        }).use('user-login').data('init', {
            key: 'initData',
            value: {
                loginURL: '#',
                successJumpURL: '/',
            },
        });
    </script>
</body>
</head>
</html>
