body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    margin-left: 20px;
    color: #00B7FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
